@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
html,
body,
* {
  margin: 0;
  font-size: 10px;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom right, #ff7b39, rgb(255, 73, 49));
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
h1 {
  font-family: "Pacifico", cursive;
  background: linear-gradient(to bottom, #1246d6, #3ffcfc, #4ae82b);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent;
  font-size: 5vw;
  text-align: center;
  margin-bottom: 0.5vh;
}

.buttons {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.btn {
  height: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, #605dff, #45098a);
  border: 1vw solid rgb(0, 0, 0);
  border-radius: 5%;
  min-width: 400px;
  width: 30%;
  height: 45vh;
  padding: 1vw;
  margin-top: 2%;
  box-sizing: border-box;
  text-align: center;
  box-shadow: -10px 10px 20px rgb(0, 0, 0);
}

.card-heading {
  font-size: 2vw;
  color: white;
  object-fit: cover;
  margin-bottom: 5%;
}

.card-img {
  height: 75%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 900px) {
  h1 {
    font-size: 8vw;
  }
  .container {
    justify-content: center;
  }
  .card {
    height: 60vh;
    width: 90%;
    min-width: 100px;
  }
  .card-heading {
    margin-top: 2%;
    font-size: 6vw;
  }
  .name,
  .imgLink {
    width: 250px;
  }
  .card-removeBtn {
    font-size: 4vw;
  }
}
